<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
  <title>Dimedisa &#8211; Hygiene solutions</title>
<meta name="title" content="Dimedisa  | Hygiene solutions">
<meta name="description" content="En DIMEDISA Hygiene Solutions, le brindamos soluciones integrales de higiene, seguridad y mantenimiento.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:title" content="Dimedisa  | Hygiene solutions">
<meta property="og:description" content="En DIMEDISA Hygiene Solutions, le brindamos soluciones integrales de higiene, seguridad y mantenimiento.">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="">
<meta property="twitter:title" content="Dimedisa  | Hygiene solutions">
<meta property="twitter:description" content="En DIMEDISA Hygiene Solutions, le brindamos soluciones integrales de higiene, seguridad y mantenimiento.">
<meta property="twitter:image" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo-dorado-negro.png" type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="http://web.studio73pty.com/JM/images/logo-dorado-negro.png">
    <link rel="icon" type="images/logo-dorado-negro.png" href="images/logo-dorado-negro.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/logo-dorado-negro.png" sizes="16x16">
    <link rel="manifest" href="images/homepage/icons/manifest.json">
    <link rel="mask-icon" href="images/homepage/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="libs/styles/compiledStylesjademillsestates.com.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="libs/plugins/jquery/jquery-1.11.2.min.js"></script>

    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADrq0A6j8Y9Uh1I5m3_yWdd4dOf-ltpJU&amp;libraries=places">
    </script>
    <script src="libs/build/bundle.js"></script>
    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->
    <meta name="google-site-verification" content="6dMST0W59zmdsaciifV0GR5kC_4yOvUJgSn-6rqiTFw"/>
    <script>
        views.commonViewsAngularCode();
        views.commonViewsjQueryAndStandaloneCode();
    </script>
  
</head>

<body>
<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->

<!--End of Tawk.to Script-->
<!--End of Tawk.to Script-->
<!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->

<!-- Header-->
<div id="header-json-settings" style="display: none"></div>
<header id="header" class="headroom--top headroom--not-bottom headroom undefined">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <div class="logo-container">
                    <a href="index.html" class="logo-holder">
                        <div class="logo-wrapper">
                            <img id="profile-image" src="images/logo.png" class="logo-light"/>
                            <img id="profile-image" src="images/logo.png" class="logo-dark"/>
                        </div>
                    </a>
                </div>
                <ul class="nav navbar-nav">
            


                    <li class="nav-item">
                        <a data-target="#modal-contact" data-toggle="modal" role="button"
                           class="nav-link">Contacto</a>
                    </li>
            <li class="nav-item">
                                <a role="button" class=" agent-phone nav-link" href="tel:+50765503887">
                                    
+507 6550-3887

                                </a>





                            </li>




                    <li class="menu-item">
                    <li class="nav-item">
                        <a class="nav-link toggle-id-1">Menu</a>
                    </li>
                    <ul class="nav">
                        <li>
                            <button type="button" class="navbar-toggle toggle-id-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<script>
    var headerSettings;
    try {
        headerSettings = JSON.parse($('#header-json-settings')[0].textContent);
    } catch (err) {
    }
    (function ($) {
        $.each(['show', 'hide'], function (i, ev) {
            var el = $.fn[ev];
            $.fn[ev] = function () {
                this.trigger(ev);
                return el.apply(this, arguments);
            };
        });
    })(jQuery);
    $(document).ready(function () {
        var modalUniqueClass = ".modal";
        $('.modal').on('show', function (e) {
            var $element = $(this);
            var $uniques = $(modalUniqueClass + ':visible').not($(this));
            if ($uniques.length) {
                $uniques.modal('hide');
                $uniques.one('hidden.bs.modal', function (e) {
                    $element.modal('show');
                });
                return false;
            }
        });
    });
    if (headerSettings) {
        const items = headerSettings.items;

        function renderSingleItem(item) {
            var name = item.name;
            var action = item.action;
            switch (action.name) {
                case 'link':
                    return '<li class="nav-item"><a href="' + action.actionValue +
                        '" role="button" class="nav-link">' + name + '</a></li>';
                    break;
                case 'popup':
                    return '<li class="nav-item"><a data-target="' + action.actionValue +
                        '" data-toggle="modal" role="button" class="nav-link">' + name + '</a></li>';
                    break;
                case 'phone':
                    return '<li class="nav-item"><a data-toggle="modal" role="button" class=" agent-phone nav-link">' +
                        name + '</a></li>';
                    break;
                case 'sidebar-open':
                    return '<li class="nav-item"><a class="nav-link toggle-id-1">' + name + '</a></li>';
                    break;
            }
        }

        $('.navbar-nav .nav-item').empty();
        var newMenu = items.reduce(function (acc, currentVale) {
            return acc + renderSingleItem(currentVale);
        }, '');
        $('.navbar-nav').prepend(newMenu);
    }
</script>
<!-- Site Container-->
<div canvas="container" class="wrapper main-container  ">



    <div class="view-content">
        <div id="site" class="site homepage-site">

            <div style="order: 1" class="">


                    <!-- Slider-->
                    <video id="bgvid" autoplay="autoplay" preload="metadata" loop="loop" muted style="width: 100%; margin-top: -100px;">
                        <source src="images/video.mp4" type="video/mp4">
                    </video>


                    <!-- Slider-->
            </div>







            <!-- Split-->
            <div style="order: 1" class="block splits light agent-section">

                <div class="split">
                    <img alt="" src="images/logo-dorado-negro2.png" class="split-image cover">
                </div>
                <div class="split">
                    <div class="split-text col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                        <h2>Quiénes somos </h2>
                        <p align="justify">
Más de 15 años de experiencia y más de 2.500 artículos en inventario, contando con más de 70 representaciones directas de fábrica.<br>
En DIMEDISA Hygiene Solutions, le brindamos soluciones integrales de higiene, seguridad y mantenimiento.
                         </p>
                        <a href="about.html" role="button" class="btn btn-outline">Leer más...</a>
                    </div>
                </div>

            </div><br><br>
            <!-- Video-->






 
            <!-- Press-->

                    <div style="order: 1" class="block grids dark" id='categoria-productos'>

                        <a class="grid community-grid-item"  >

                            <img alt="quimicos dimemax" src="images/p1.png" class="grid-image cover" value='quimicos dimemax'>
                        </a>
                        <a class="grid community-grid-item">
                      
                            <img alt="quimicos industriales" src="images/p2.png" class="grid-image cover" value='quimicos industriales'>
                        </a>
                        <a class="grid community-grid-item">
                 
                            <img alt="seguridad personal" src="images/p3.png" class="grid-image cover" value='seguridad personal'>
                        </a>
                        <a class="grid community-grid-item">
                        
                            <img alt="higiene y mantenimiento" src="images/p4.png" class="grid-image cover" value='higiene y mantenimiento'>
                        </a>
                        <a class="grid community-grid-item">
                        
                            <img alt="uniformes" src="images/p5.png" class="grid-image cover" value='uniformes'>
                        </a>
                        <a class="grid community-grid-item">

                            <img alt="procesos" src="images/p6.png" class="grid-image cover" value='procesos'>
                        </a>
                        <a class="grid community-grid-item">
                   
                            <img alt="termometros" src="images/p7.png" class="grid-image cover" value='termometros'>
                        </a>
                        <a class="grid community-grid-item">
                       
                            <img alt="manejo de materiales" src="images/p8.png" class="grid-image cover" value='manejo de materiales'>
                        </a>

                        <a class="grid community-grid-item">
                       
                            <img alt="cuchilleria" src="images/p9.png" class="grid-image cover" value='cuchilleria'>
                        </a>


                    </div>


          <!-- Grid-->
<div style="order: 1" class="block press light">
    <div class="block-centered">
        <div class="container">
        <br>    <h2>
                LO QUE NOS DIFERENCIA
            </h2>

<div class="col-md-12">
    

<p>Estamos comprometidos con la innovación, desarrollo y fabricación de productos químicos para la industria de higiene y manipulación de Alimentos.</p><br><br>

<p>Más de 15 años de experiencia y más de 2.500 artículos en inventario,
contando con más de 70 representaciones directas de fábrica</p><br><br>

</div>


<p>
   Representamos de manera exclusiva en Panamá las marcas Diken International y EnviroTech, ofreciéndole soluciones integrales y productivas de higiene, seguridad y mantenimiento a nuestra distinguida clientela.
</p>


</div>
<br>
<div class="container">
    
            <div class="row">
                <div class="press-column col-md-6">
                    <div class="press-quote" >


 <img src="images/Diken-PI.jpg" width="300">                
                        
                    </div>
                </div>
                <div class="press-column col-md-6">
                    <div class="press-quote" >
                     
             <img src="images/EnviroT-PI.jpg" width="300">        
                    </div>
                </div>
 



            </div>


</div>

</div></div>


<div style="order: 1" class="block press light">
    <div class="block-centered">
        <div class="container">
            <h2></h2>
            <div class="row">
                <div class="press-column col-md-4">
                    <div class="press-quote">



                        <h2>TRAYECTORIA</h2>
                        <p align="">Nuestro Equipo de asesores tiene una trayectoria de más de 20 años de experiencia en la industria de Alimentos en General.</p>
                        
                    </div>
                </div>
                <div class="press-column col-md-4">
                    <div class="press-quote">



                        <h2>
EXCLUSIVIDAD</h2>
                        <p align="">Somos representantes exclusivos para Panamá de DIKEN INTERNATIONAL, Empresa de clase mundial, que brinda soluciones integrales y productivas de higiene, seguridad y mantenimiento a la industria en general.</p>
                        
                    </div>
                </div>
                <div class="press-column col-md-4">
                   <div class="press-quote">



                        <h2>INNOVACIÓN</h2>
                        <p align="">Ayudamos a nuestros clientes a lograr la inocuidad de sus productos a través de un método de trabajo que contempla Productos Químicos, Equipos especializados y un sistema integral de capación.</p>
                        
                    </div>
                </div>
            </div>


                                <div class="carousel owl-carousel press-logos">
                                    <img alt="" src="images/logo1.png">
                                    <img alt="" src="images/logo2.png">
                                    <img alt="" src="images/logo3.png">
                                    <img alt="" src="images/logo4.png">
                                    <img alt="" src="images/logo5.png">
                                    <img alt="" src="images/logo6.png">
                                    <img alt="" src="images/logo7.png">
                                    <img alt="" src="images/logo8.png">

                                </div>


</div></div></div>
            <!-- Masonry-->
        </div>
        <script async>
            var homepageCtrl = views.homepage()(1, '', '');
            homepageCtrl.showUpItems("Welcome to", 'Coldwell Banker Residential Brokerage', 'Search All Homes');
            var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
            if (isSafari) {
                $('.grids').addClass('safari-fix');
            }
        </script>
        <style type="text/css">
            #items .item h1 {
                font-size: 76px;
                font-family: default
            }

            #items .item h5 {
                font-size: 17px
            }

          

            @media (max-width: 991px) {
                #items .item h1 {
                    font-size: 44px
                }
            }

            .weather-wrapper {
                position: fixed;
                display: block;
                right: .8em;
                bottom: -5px;
                z-index: 1040;
                width: 130px
            }

            .click-blocker {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 12
            }

            .weather-wrapper span,
            time {
                font-style: normal
            }

            div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p time {
                font-size: 12px !important
            }

            .weather-wrapper sup {
                top: 0
            }

            .weather-wrapper .aw-toggle {
                display: none
            }

            .custom-video-image {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-size: cover;
                background-position: center;
                z-index: 1
            }

            .rsBtnCenterer {
                z-index: 2
            }

            @media (max-width: 767px) {
                .weather-wrapper {
                    display: none
                }
            }
        </style>
    </div>
    <!-- Footer-->
    <!-- CTA-->
    <div id="footer-injectable-place" class="future-frontend-container"></div>
  
        <footer class="block dark dark-color" >

            <div class="container">
                <div class="row">

                    <div class="footer-column agent-info-col align-center col-md-4">
                     <br><br><h4 style="font-family: sans-serif;">Encuentranos en:</h4>
                        <p style="font-family: sans-serif;">
PARQUE LEFEVRE, Calle 1era, Edif 1, PB, Local 1. Panamá.
                        </p>

                        <div class="mapouter"><div class="gmap_canvas"><iframe width="300" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=Dimedisa%2C%20Panam%C3%A1&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://thevpndeal.com/nordvpn-coupon/">nordvpn coupon</a></div><style>.mapouter{position:relative;text-align:right;height:200px;width:300px;}.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:300px;}</style></div>

                    </div>
                  <div class="footer-column contact-col align-center col-md-4 col-md-push-4">
                    <br><br><h4 style="font-family: sans-serif;">síguenos en nuestra redes sociales</h4>
                             <div class="social-links">
                            <a href="https://www.facebook.com/dimedisapty/" target="_blank"
                               class="btn btn-circle btn-outline icon-facebook" style="color: #000"></a>
                          
                            <a href="https://www.instagram.com/dimedisapty/" target="_blank"
                               class="btn btn-circle btn-outline icon-instagram" style="color: #000"></a>
                           
                              
                            </div>
                    </div>
                    <div class="footer-column col-md-4 col-md-pull-4 align-center">
                       <br> <div class="logo-image-placeholder">
                            <center><br><h2 style="font-family: sans-serif;">Contáctanos</h2>
 <h6 style="font-family: sans-serif;">Telefono:</h6>
 <p style="font-family: sans-serif;"> 

+507 323-1780<br>
+507 6550-3887
</p> 


<h6 style="font-family: sans-serif;">Correo:</h6>
<p style="font-family: sans-serif;"> 
ventas@dimedisa.com</p>                              
                            </center>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-base">
                <div class="row">
                    <div class="footer-base-column col-md-6 col-md-push-3 align-center footer-logos-menu-container">
  <br><br>                      
<h6>Todos los derechos reservados DIMEDISA. 2020</h6>
                    </div>


                </div>
            </div>
        </footer>
 
        </script>

    </div>
</div>
<!-- Off Canvas-->
<div off-canvas="id-1 right overlay" class="offcanvas">
    <div class="offcanvas-inner">
        <div id="menu-json-settings" style="display: none"></div>
        <a class="offcanvas-header">
            <img alt="" src="images/icon-close.png" class="offcanvas-close">
        </a>
        <ul class="offcanvas-menu">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li class="dropdown">

   <a href="about.html">Quiénes somos</a>

            </li>

            <li>
                <a href="categorias.html">Productos</a>
            </li>
            <li>
                <a href="catalogo.html">Catálogo</a>
            </li>

  
            <li>
                <a data-target="#modal-contact" id="sidebar-contact-button" data-toggle="modal" role="button"
                   class="close-menu">Contacto</a>
            </li>


        </ul>
        <ul class="offcanvas-footer">
            <li>
                <a data-target="#modal-contact" data-toggle="modal" role="button"
                   class="btn btn-inverse btn-circle icon-envelope close-menu"></a>
                    <a href="tel:+5073231780" data-toggle="modal" role="button"
                   class="btn btn-inverse btn-circle icon-phone close-menu"></a>

                    <a href="https://wa.me/50765503887" data-toggle="modal" role="button"
                   class="btn btn-inverse btn-circle fa fa-whatsapp whatsapp-icon close-menu"></a>

            </li>
        </ul>
    </div>
</div>
<div class="offcanvas-backdrop"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script>
    var orders = '';
    var menuOrders = orders ? orders.split(',') : [];
    var sidebarSettings;
    try {
        sidebarSettings = JSON.parse($('#menu-json-settings')[0].textContent);
    } catch (err) {
    }
    if (!sidebarSettings) {
        $(window).ready(function () {
            setTimeout(function () {
                var maped = _.map(menuOrders, function (menuOrder) {
                    var splittedMenuOrder = menuOrder.split(':');
                    return {
                        name: splittedMenuOrder[0],
                        val1: parseInt(splittedMenuOrder[1])
                    };
                });
                var sorted = _.sortBy(maped, 'val1').reverse();
                _.forEach(sorted, function (menuOrder) {
                    $('.offcanvas-menu').prepend($('.offcanvas-menu li a:contains("' +
                        menuOrder.name + '")').parent());
                });
            }, 100);
        })
    }
    if (sidebarSettings) {
        const items = sidebarSettings.items;

        function renderSingleItem(item) {
            var name = item.name;
            var action = item.action;
            switch (action.name) {
                case 'link':
                    return '<li><a href="' + action.actionValue + '">' + name + '</a></li>';
                    break;
                case 'popup':
                    return '<li><a data-target="' + action.actionValue +
                        '" data-toggle="modal" role="button" class="close-menu">' + name + '</a></li>';
                    break;
            }
        }

        function renderSubmenuType(menu) {
            const subItems = menu.subItems.reduce(function (acc, currentVal) {
                return acc + renderSingleItem(currentVal);
            }, '');
            const template =
                '<li class="dropdown"><a id="dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle">' +
                menu.name + '</a><ul aria-labelledby="dropdown-menu" class="dropdown-menu">' + subItems +
                '</ul></li>'
            return template;
        }

        $('.offcanvas-menu').empty();
        var newMenu = items.reduce(function (acc, currentVale) {
            var result;
            if (currentVale.subItems) {
                result = renderSubmenuType(currentVale);
            } else {
                result = renderSingleItem(currentVale);
            }
            return acc + result;
        }, '');
        $('.offcanvas-menu').append(newMenu);
    }
</script>
<!-- Modal-->

<div id="modal-video" role="dialog" class="modal modal-fullscreen fade dark">
    <div>some-content</div>
</div>
<!-- Modal-->
<div id="modal-search" role="dialog" ng-controller="searchModalController as modalCtrl"
     class="modal modal-fullscreen modal-search fade dark-color-transparent light-color-text">
    <div class="modal-dialog">
        <div id="quick-links-json" style="display: none"></div>
        <div class="modal-content">
            <div class="modal-header">

                <a data-dismiss="modal" aria-label="Close">
                    <img alt="" src="images/icon-close-white.png" class="modal-close">
                </a>
                <h1>búsqueda rapida</h1>
            </div>
            <div class="modal-body" id="apiHome">
                <search-form-home></search-form-home>
            </div>
        </div>
    </div>

    <script>
        var quickLinkJson;
        try {
            quickLinkJson = JSON.parse($('#quick-links-json')[0].textContent);
        } catch (err) {
        }
        if (quickLinkJson) {
            $('#quick-links-wrapper').empty();
            quickLinkJson.links.forEach(function (item) {
                $('#quick-links-wrapper').append('<li><a href="' + item.link + '">' + item.name +
                    '</a></li>');
            })
        }
    </script>
</div>
<!-- Modal-->

<!-- Modal-->
<style>
    .help-inline {
        color: red
    }

    .form-group.recaptcha {
        display: flex;
        flex-direction: column;
        align-items: center
    }
</style>
<div id="modal-contact" role="dialog" class="modal modal-fullscreen modal-contact fade dark">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" aria-label="Close">
                    <img alt="" src="images/icon-close-white.png" class="modal-close">
                </a>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 style="color: #fff;">DIMEDISA.</h5>
                            <h2 style="color: #fff;">Contacto</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-container">
                            <h5>Consulta en línea</h5>
                    <form action="mail.php" method="post" ng-controller="ContactModalController" id="contact-modal-form">
                                <div ng-show="formCompleted">
                                    <h5>Gracias por enviar la consulta</h5>
                                </div>
                                <div ng-show="false" class="form-group"></div>
                                <div ng-hide="formCompleted" class="form-group">
                                    <label for="Nombre" class="sr-only">Nombre y Apellido</label>
<input id="Nombre" name="Nombre"type="text" placeholder="Nombre y Apellido" class="form-control" required="Llenar campo">
                                    <span ng-show="submitted &amp;&amp; formErrors.name" class="help-inline">{{formErrors.name.message}}</span>
                                </div>
                                <div ng-hide="formCompleted" class="form-group">
                                    <label for="email" class="sr-only">Email</label>
<input id="Correo" name="Correo" ng-model="formInput.email" type="email" placeholder="Email"
                                           class="form-control" required>
                                    <span ng-show="submitted &amp;&amp; formErrors.email" class="help-inline">{{formErrors.email.message}}</span>
                                </div>
                                <div ng-hide="formCompleted" class="form-group">
                                    <label for="phone" class="sr-only">Teléfono</label>
<input id="Telefono" name="Telefono" ng-model="formInput.phone" type="text" placeholder="Teléfono"
                                           class="form-control" required>
                                </div>
                              
                                <div ng-hide="formCompleted" class="form-group">
<textarea id="Asunto" name="Asunto" ng-model="formInput.message" rows="3" placeholder="Asunto" class="form-control"></textarea>
                                    <span ng-show="submitted &amp;&amp; formErrors.message" class="help-inline">{{formErrors.message.message}}</span>
                                </div>

                                <div ng-hide="formCompleted" class="form-group">

 <div ng-hide="formCompleted" class="g-recaptcha" data-sitekey="6Lc13OQUAAAAAAdetpMVPJmwIl2uF2kedoaASy1f"></div>

                                    <span ng-show="submitted &amp;&amp; formErrors.message" class="help-inline">{{formErrors.message.message}}</span>
                                </div>



                                <button ng-hide="formCompleted" type="submit" value=Enviar class="btn btn-outline">
                                    Enviar
                                </button>
                            </form>
                        </div>
                        <div class="col-sm-6 contact-details-container">
                            <h5 style="color: #fff;">DETALLES DE CONTACTO</h5>
                            <p style="color: #fff;">
PARQUE LEFEVRE, Calle 1era, Edif 1, PB, Local 1.<br><br>

Horario: de Lunes a Jueves de 7am a 4:30pm<br>
Viernes: de 7am a 4pm
                                <br><br>
                                Teléfono(s): +507 323-1780<br>
                               +507 6550-3887
                                <br><br>
                              ventas@dimedisa.com

                              <div class="social-links">
                            <a href="https://www.facebook.com/dimedisapty/" target="_blank"
                               class="btn btn-circle btn-outline icon-facebook"></a>
                          
                            <a href="https://www.instagram.com/dimedisapty/" target="_blank"
                               class="btn btn-circle btn-outline icon-instagram"></a>
                           
 <a href="https://wa.me/50765503887" target="_blank" class="btn btn-circle btn-outline fa fa-whatsapp whatsapp-icon"></a>






                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</div>
<!-- Scripts-->
<script src="libs/plugins/twofold/plugins.js"></script>
<script src="libs/plugins/isMobile.min.js"></script>
<script src="libs/plugins/common.js"></script>
<script src="libs/future-frontend/free-components-settings.js"></script>
<script src="libs/build/futureFrontend.js"></script>
<script src="js/searchHome.js"></script>

<!-- Buscar categorias JS -->
<script src='js/buscarCategoria.js' ></script>

<script>
    $('#contactModal').on('show.bs.modal', function () {
        $('.modal-content').css('height', $(window).height() * 0.8);
    });
    var modals = $('.modal');
    modals.on('show.bs.modal', function () {
        window.headroomPaused = true;
        if (window.pageYOffset) {
            $('.main-container').addClass('locked').css('top', -window.pageYOffset + 'px');
        }
    });
    modals.on('hidden.bs.modal', function () {
        var mainContainer = $('.main-container');
        var top = -parseInt(mainContainer.css('top'));
        mainContainer.removeClass('locked').css('top', '');
        window.scrollTo(0, top);
        window.headroomPaused = false;
    });
    $(function () {
        views.getAngularInstanceService().createInstance();
        angular.bootstrap(document, ['LPApp']);
    });
</script>
<style type="text/css">
    @media (min-width: 992px) {
        .footer-container footer .footer-base .footer-logos-menu-container .logos-container img {
            max-height: 10em;
            width: 155px
        }
    }
</style>





</body>

</html>